    {% load static %}

<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>Chat Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'chat/stylesheets.html' %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}

        {% include 'chat/javascripts.html' %}

        {% block custom_js %}
        {% endblock custom_js %}
    </body>
</html>